body {
    margin: 0 auto;
    max-width: 960px;
    border-left: 1px solid #232b2b;
    border-right: 1px solid #232b2b;
}

.menu {
    text-align: center;
    padding: 10px;
}

.menu--black {
    background-color: #232b2b;
}

.menu__item {
    display: inline;
}

.menu__item--font {
    color: white;
    text-decoration: none;
    font-family: 'Mukta', sans-serif;
}

.frontpage-header__background {
    position: absolute;
}

.frontpage-header__background--size {
    max-width: 960px;
}

.frontpage-header__logo {
    background-color: #232b2b;
    margin: 0 300px 0 300px;
    padding: 80px 0 80px 0;
    position: relative;
    top: 120px;
    opacity: 0.8;
}

.frontpage-header__logo-text {
    color: white;
    text-align: center;
    font-family: 'Amatic SC';
    margin: 0;
}

.frontpage-header__logo-text--cursive {
    color: white;
    text-align: center;
    font-family: 'Gwendolyn', cursive;
    font-size: 100px;
    margin: 0;
}

.about {
    margin: 0 80px 0 80px;
    padding-top: 250px;
}

.about__headline2 {
    color: black;
}

.about__headline2--font {
    font-family: 'Gwendolyn', cursive;
    font-size: 40px;
}

.about__intro {
    padding: 0;
    font-family: 'Mukta', sans-serif;
}

.separator {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    display: flex;
}

.separator__cactus-img--size {
    max-height: 200px;
    align-self: center;
}

.my-garden {
    margin: 0 80px 0 80px;
    padding-top: 10px;
}

.my-garden__headline2 {
    color: black;
}

.my-garden__headline2--font {
    font-family: 'Gwendolyn', cursive;
    font-size: 40px;
}

.my-garden__announcement--font {
    padding: 0;
    font-family: 'Mukta', sans-serif;
}

.my-garden__gallery {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, max-content));
    grid-template-rows: 1fr 1fr 20rem;
    row-gap: 5px;
    column-gap: 5px;
}

.my-garden__gallery--pic1,
.my-garden__gallery--pic2,
.my-garden__gallery--pic3,
.my-garden__gallery--pic4 {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.my-garden__gallery--pic5 {
    grid-column-start: 1;
    grid-column-end: -1;
    height: 100%;
    object-fit: cover;
}

.contact {
    margin: 0 80px 0 80px;
    padding-top: 10px;
}

.contact__headline2 {
    color: black;
}

.contact__headline2--font {
    font-family: 'Gwendolyn', cursive;
    font-size: 40px;
}

.contact__details--font {
    padding: 0;
    font-family: 'Mukta', sans-serif;
}

.social-media__icon--green {
    color: #232b2b;
    text-decoration: none;
}


/*nefunguje place items a  nevím proč?, zdá se, že se ikonky uvnitř buněk v gridu vůbec nehýbou */

.email {
    place-items: center end;
}

.github {
    place-items: center start;
}

.social-media__icon {
    display: grid;
    grid-template-columns: repeat(2, 100px);
    justify-content: center;
    font-size: 60px;
    margin: 50px 5px;
}

.footer--color {
    background-color: #232b2b;
    padding: 20px 0;
}

.footer--font {
    color: white;
    text-align: center;
    margin: 0;
    font-family: 'Mukta', sans-serif;
}


/* responsivita pro ipad air*/

@media screen and (min-width: 391px) and (max-width: 820px) {
    .menu {
        padding: 10px;
    }
    .menu__item {
        margin: 10px;
    }
    .menu__item--font {
        font-size: 25px;
    }
    .frontpage-header__background--size {
        max-width: 100%;
    }
    .frontpage-header__logo {
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 20px;
        padding-bottom: 20px;
        margin: 0 100px 0 100px;
        left: 5px;
        top: 100px;
    }
    .about__headline2--font {
        padding-top: 40px;
        font-size: 40px;
    }
    .my-garden {
        margin: 5px;
        padding-top: 10px;
    }
    .my-garden__headline2--font {
        margin: 0 80px 0 80px;
        font-size: 25px;
    }
    .my-garden__announcement {
        margin: 0 80px 0 80px;
    }
    .my-garden__gallery {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 20rem;
    }
    .my-garden__gallery--pic1,
    .my-garden__gallery--pic2,
    .my-garden__gallery--pic3,
    .my-garden__gallery--pic4 {
        max-width: 100%;
        height: auto;
        object-fit: content;
    }
    .my-garden__gallery--pic5 {
        max-width: 100%;
        height: 75%;
        object-fit: cover;
    }
    .my-garden__headline2--font {
        font-size: 40px;
    }
    .contact__headline2--font {
        font-size: 40px;
    }
}


/* responsivita pro iphone 12 pro*/

@media screen and (max-width: 390px) {
    body {
        margin: 0;
        padding: 0;
        max-width: 844px;
        border-left: none;
        border-right: none;
    }
    .menu {
        padding: 0.5px;
    }
    .menu__item {
        margin: 0;
        padding: 5px;
    }
    .menu__item--font {
        font-size: 12px;
    }
    .frontpage-header__background--size {
        max-width: 100%;
    }
    .frontpage-header__logo {
        padding-left: 0;
        padding-top: 20px;
        padding-bottom: 20px;
        margin: 0 25px 0 15px;
        left: 5px;
        top: 40px;
    }
    .frontpage-header__logo-text--cursive {
        font-size: 50px;
        margin: 0;
    }
    .about {
        margin: 0 20px 0 20px;
        padding-top: 80px;
    }
    .about__headline2--font {
        font-size: 25px;
    }
    .about__intro {
        padding: 0;
    }
    .separator {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .separator__cactus-img--size {
        max-height: 100px;
    }
    .my-garden {
        margin: 0;
        padding-top: 10px;
    }
    .my-garden__headline2--font {
        margin: 0 20px 0 20px;
        font-size: 25px;
    }
    .my-garden__announcement {
        margin: 0 20px 0 20px;
    }
    .my-garden__gallery {
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 1fr 1fr 15rem;
        row-gap: 1px;
        column-gap: 1px;
    }
    .my-garden__gallery--pic5 {
        max-width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .contact {
        margin: 0 20px 0 20px;
    }
    .contact__headline2--font {
        font-size: 25px;
    }
}